div {font-size: 100px;}
* {
  margin: 0;
}

button {
  font-size: calc(var(--scale) * 80px);
}

body {
  
}

.board > div, .hand > div, #searchbox > div {
  width: 180px;
}

.xcard8,.xcard17,.xcard25, .xcard35, .xcard44, .xcard53, .xcard62 {
  margin-bottom: 162px;
}


.debug {display: none;}

.boardrow > * {display: flex; }

.searchbox {
  width: 1000px;
  height: 1100px;
  display: flex;
  background: lightgrey;
  flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.boardrow {
  background: lightgrey;
  width: 1000px;
  height: 800px;
    display: flex;
    flex-direction: column;}

.board {
  width: 800px;
  height: 250px;
  display: flex;
  background: rgb(182, 182, 235);
  margin-top: 250px;

}
.board > * > * {
  margin-top: -150px;
}

.board > * {
  margin: 18px;
  display: flex; 
  flex-direction: column;
}
.unitfront{
  margin-bottom: 200px;
}
.holder {
  flex-direction: column;
}

.pile {
  width: 200px;
  height: 250px;
  background: white;
  outline: 10px solid black;
}

.handslot {
  width: 200px;
  height: 250px;
  color: black;
  outline: 10px solid black;

}

.hand {
  width: 1000px;
  height: 250px;
  background: white;
  outline: 10px solid black;
  display: flex;
}

.cardback {
  background: url(/art/cardback.png);
  background-size: cover;
}

.board > *> * {display: flex; flex-direction: column-reverse;}

.holder {display: flex;}

#clone, #miniclone {
  display: none;
}

  .mini  .soul::before {
  display: none;
}

.mini {
  min-height: calc(var(--scale) * 250px);
  max-height: calc(var(--scale) * 250px);
  min-width: calc(var(--scale) * 150px);
  max-width: calc(var(--scale) * 150pxpx);
  box-sizing: border-box;
}

.mini .art {
  min-height: calc(var(--scale) * 250px);
  max-height: calc(var(--scale) * 250px);
  min-width: calc(var(--scale) * 200px);
  max-width: calc(var(--scale) * 200px);
  position: absolute;
  margin: 0;
  border-radius: 18px;

 
}


.mini .soul-block {
  position: absolute;
  margin-left: calc(var(--scale) * -7px);
  margin-top: calc(var(--scale) * 100px);
  background-color: grey;
  
}

.mini .soul {
  border: none;
  height: calc(var(--scale) * 20px);
  width: calc(var(--scale) * 20px);
  border-radius: calc(var(--scale) * 100px);
  margin: calc(var(--scale) * 8px);
  color: white;
  font-size: calc(var(--scale) * 50px);
  background: grey;
  font-weight: bold;
  z-index: 4;
}

#cardspot {display: flex;}

.mini .effect {font-size: 20px;
position: absolute;
margin-top: 200px;
margin-left: 10px;}

.mini.red, .mini.blue, .mini.green {background: none;}

.mini .soul.r {background: url(/art/red_background.png);}
.mini .soul.b {background: url(/art/blue_background.png);}
.mini .soul.g {background: url(/art/green_background.png);}

.mini .name {
  font-size: 20px;
  border: none;
}
.mini .name-block{
  background: white;
  border: 0px;
  box-shadow: none;
  position: absolute;
  z-index: 10;
  border-radius: 0;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  display: none;
}

.mini .soul-block {
  margin-top: -0px;
}

.mini.blue .art {
border-color: rgb(84, 84, 238) !important;
}

.mini.green .art{
border-color: rgb(98, 248, 98) !important;
}

.mini.red .art{
  border-color: rgb(240, 81, 81) !important;
}
