div {font-size: 100px;}
* {
  margin: 0;
}

button {
  font-size: calc(var(--scale) * 100px);
}

body {
  background: grey;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.row > div, .hand > div, #searchbox > div {
  width: 180px;
}



.boardrow > * {display: flex; }

.searchbox {
  width: 1000px;
  height: 1100px;
  display: flex;
  background: lightgrey;
  flex-direction: row;
    flex-wrap: wrap;
}
.boardrow {
  background: lightgrey;
  width: 1000px;
  height: 800px;
    display: flex;
    flex-direction: column;}

.row {
  width: 800px;
  height: 500px;
  display: flex;
  background: rgb(182, 182, 235);

}



.row > * {
  margin: 18px;
}
.unitfront{
  margin-bottom: 200px;
}
.holder {
  flex-direction: column;
}

.pile {
  width: 200px;
  height: 250px;
  background: white;
  outline: 10px solid black;
}

.handslot {
  width: 200px;
  height: 250px;
  color: black;
  outline: 10px solid black;

}

.hand {
  width: 1000px;
  height: 250px;
  background: white;
  outline: 10px solid black;
  display: flex;
}

.cardback {
  background: url(/art/cardback.png);
  background-size: cover;
}

.row > * {display: flex; flex-direction: column-reverse;}
.row > *> * {display: flex; flex-direction: column-reverse;}

.holder {display: flex;}

#clone, #miniclone {
  display: none;
}

.holder  .mini  .soul-block {
  display: none;
}

.mini {
  min-height: calc(var(--scale) * 250px);
  max-height: calc(var(--scale) * 250px);
  min-width: calc(var(--scale) * 150px);
  max-width: calc(var(--scale) * 150pxpx);
  box-sizing: border-box;
}

.mini .art {
  min-height: calc(var(--scale) * 250px);
  max-height: calc(var(--scale) * 250px);
  min-width: calc(var(--scale) * 200px);
  max-width: calc(var(--scale) * 200px);
  position: absolute;
  margin: 0;
  border-radius: 18px;

 
}


.mini .soul-block {
  position: absolute;
  margin-left: calc(var(--scale) * -7px);
  margin-top: calc(var(--scale) * 10px);
}

.mini .soul {
  border: none;
  height: calc(var(--scale) * 20px);
  width: calc(var(--scale) * 20px);
  border-radius: calc(var(--scale) * 100px);
  margin: calc(var(--scale) * 15px);
  color: white;
  font-size: calc(var(--scale) * 50px);
  background: grey;
  font-weight: bold;
  z-index: 4;

}

.mini .soul::before {display: none;}

.mini .effect {font-size: 20px;
position: absolute;
margin-top: 140px;
margin-left: 10px;}

.mini.red, .mini.blue, .mini.green {background: none;}

.mini .soul.r {background: url(/art/red_background.png);}
.mini .soul.b {background: url(/art/blue_background.png);}
.mini .soul.g {background: url(/art/green_background.png);}

.target {
  background-color: red;;
}

.soul.attached {
  height: calc(var(--scale)* 20px);
  width: calc(var(--scale)* 20px);
  border: none;
}

.soul.attached::before {display: none;}

.ready {
  outline: 10px solid green;
}



.searchbox {display: none;}


#opprow .unitback {margin-bottom: 250px;} 
